<div class="container">
  {{#if model.questions}}
    {{#each model.questions as |question|}}
      <div class="row well">
        <div class="col-md-12">
          {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
        </div>
      </div>
    {{/each}}
  {{else}}
    <h2>Let's add some Questions!</h2>
  {{/if}}
  {{new-question save="save"}}
</div>
